@charset "utf-8";
/*--------------------------------------------------------------------------------------------------
CSS Styles

version:   1.0
--------------------------------------------------------------------------------------------------*/
/*
--------------------------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}


h1 {
    font-size: 30px;
    font-style: bold;
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

.button {
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    border-style: none;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #BAB9BA;
}

.header {
    background: #d35400;
    border-bottom: 3px solid #c54e00;
    color: #FFFFFF;
    height: 145px;
    text-align: center;
}

.header p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 42px;
    font-style: bold;
    padding-top: 50px;
    font-weight: bold;
}

.wrapper {
    height: inherit;
}

.logindata {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}

.logindata p {
    text-align: right;
    font-size: 13px;
}

.login {
    background: #F0EEEF;
    height: 150px;
    width: 450px;
    text-align: center;
    padding-top: 50px;
    padding-left: 30px;
    margin-top: 200px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 200px;
}

.login label {
    text-align: left;
    float: left;
    display: block;
    width: 100px;
    padding-left: 20px;
}

.login .textfield {
    margin-left: 30%;
    height: 20px;
    width: 270px;
    display: block;
    margin-bottom: 20px;
    border-style: none;
}

.login .button{
    width: 100px;
    margin-left: 20px;
}

.footer {
    text-align: center;
    height: 20px;
    padding-top: 10px;
    font-size: 12px;
}

.footer a {
    color: #BBBBBB;
    text-decoration: none;
}

.footer a:hover {
    color: #000000;
}

.footer a:visited {
    color: #BBBBBB;
}

.nav {
    background: #383838;
    height: 100%;
    width: 170px;
    float: left;
}

.nav a {
    color: #E3E2E1;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.nav a:hover {
    color: #000000;
    background-color: #ffffff;
}

.nav a:active {
    color: #CCC;
    background-color: #fff;
}

.content {
    padding-left: 220px;
    padding-right: 40px;
}

.content h2 {
    font-size: 20px;
    font-style: bold;
    padding-top: 40px;
    padding-bottom: 30px;
}

.content a {
    text-decoration: none;
    text-decoration: underline;
    color: #000;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content a:hover {
    color: #CCC;
}

.search {
    background: #F0EEEF;
    height: 70px;
    width: 450px;
    text-align: center;
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.search .textfield {
    width: 300px;
    height: 30px;
    border-style: none;
}

.search .button {
    width: 100px;
    margin-top: 15px;
}

table {
    border: none;
    background: #FFFFFF;
}

.inst {
    width: 100%;
}

.inst th {
    background-color: #F0EEEF;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.inst td {
    height: 30px;
    padding-left: 25px;
    padding-top: 5px;
}

.inst .even {
    background-color: rgba(237, 94, 0, 0.25);
}

.top {
    display: block;
    padding-top: 30px;
}

.contact {
    background: #F0EEEF;
    height: 400px;
    width: 700px;
    text-align: left;
    margin-bottom: 200px;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
}

.contact .textfield {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 10%;
    border-style: none;
    float: right;
}

.contact .textarea {
    width: 90%;
    height: 200px;
    display: block;
    padding-top: 5px;
    margin-top: 30px;
    border-style: none;
}

.contact .button {
    width: 100px;
    margin-top: 20px;
}

.listing {
    background: none repeat scroll 0 0 #F0EEEF;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    padding: 10px 10px 10px 10px;
}
